<% content_for :title, "Editing User" %>

<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h3>Editing User</h3>
    </div>
    <div class="card-body">
      <%= render "form", user: @user %>
    </div>
  </div>
</div>
<div class="mt-4">
  <%= link_to "Show this user", admin_user_path(@user), class: "bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600" %>
  <%= link_to "Back to users", admin_users_path, class: "bg-gray-300 text-black py-2 px-4 rounded hover:bg-gray-400" %>
</div>
